<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="GeneralLayout.html :: headerfiles"></head>
<body>
<div class="container">
    <h1>Topics</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Topic</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="topic : ${topics}">
            <td th:text="${topic.title}"></td>
            <td th:text="${topic.description}"></td>
            <td></span><a th:href="@{|/topics/${topic.id}/edit|}" class="glyphicon glyphicon-pencil"></a></td>
        </tr>
        </tbody>
    </table>
    <p>
    <a href="/new-topic">Create a new Topic</a>
    </p>
</div>
</body>
</html>